<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">

	<display-name>DMDWEB</display-name>
	<filter>     
		<filter-name>UswinCheckFilter</filter-name>     
		<filter-class>com.vzw.dmd.UswinCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>UswinCheckFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UswinCheckFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UswinCheckFilter</filter-name>
		<url-pattern>/DMDGui</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DMDGui</servlet-name>
		<display-name>DMDGui</display-name>
		<servlet-class>com.vzw.dmd.DMDGui</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogLoader</servlet-name>
		<display-name>LogLoader</display-name>
		<servlet-class>com.vzw.dmd.LogLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PropLoader</servlet-name>
		<display-name>PropLoader</display-name>
		<servlet-class>com.vzw.dmd.PropLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDXml</servlet-name>
		<display-name>DMDXml</display-name>
		<servlet-class>com.vzw.dmd.DMDXml</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMqTest</servlet-name>
		<display-name>DMDMqTest</display-name>
		<servlet-class>com.vzw.dmd.DMDMqTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDFdbk</servlet-name>
		<display-name>DMDFdbk</display-name>
		<servlet-class>com.vzw.dmd.DMDFdbk</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDXmlPost</servlet-name>
		<display-name>DMDXmlPost</display-name>
		<servlet-class>com.vzw.dmd.DMDXmlPost</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DmdMultiXml</servlet-name>
		<display-name>DmdMultiXml</display-name>
		<servlet-class>com.vzw.dmd.DmdMultiXml</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DmdScmplus</servlet-name>
		<display-name>DmdScmplus</display-name>
		<description>Looks up and returns the scmplus device key corresponding to incoming esn or meid</description>
		<servlet-class>com.vzw.dmd.DmdScmplus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDPIDLookUP</servlet-name>
		<display-name>DMDPIDLookUP</display-name>
		<description>Looks up and returns the platform id corresponding to incoming esn or meid</description>
		<servlet-class>com.vzw.dmd.DMDPIDLookUP</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DmdRM</servlet-name>
		<display-name>DmdRM</display-name>
		<description>RM look up</description>
		<servlet-class>
		com.vzw.dmd.DmdRM</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDEquipmentIDXml</servlet-name>
		<display-name>DMDEquipmentIDXml</display-name>
		<description>Looks up and returns the Equipment ID</description>
		<servlet-class>com.vzw.dmd.DMDEquipmentIdXml</servlet-class>
	</servlet>
	<servlet>
			<servlet-name>KeepAliveServlet</servlet-name>
		<display-name>KeepAliveServlet</display-name>
		<description>Light weight health check servlet.</description>
		<servlet-class>com.vzw.dmd.KeepAliveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDHUBXml</servlet-name>
		<display-name>DMDHUBXml</display-name>
		<description>Looks up and returns the Equipment ID</description>
		<servlet-class>com.vzw.dmd.DMDHUBXml</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMACIDLookup</servlet-name>
		<display-name>DMDMACIDLookup</display-name>
		<description>Looks up and returns the Availability</description>
		<servlet-class>com.vzw.dmd.DMDMacidLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceType</servlet-name>
		<display-name>DMDDeviceType</display-name>
		<description>Looks up and returns the Equipment Details</description>
		<servlet-class>com.vzw.dmd.DMDDeviceType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceTypeSDM</servlet-name>
		<display-name>DMDDeviceTypeSDM</display-name>
		<description>Looks up and returns the Equipment Details</description>
		<servlet-class>com.vzw.dmd.DMDDeviceTypeSDM</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceProdID</servlet-name>
		<display-name>DMDDeviceProdID</display-name>
		<description>Looks up and returns the Equipment Details</description>
		<servlet-class>com.vzw.dmd.DMDDeviceProdID</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDSKUXml</servlet-name>
		<display-name>DMDSKUXml</display-name>
		<description>Looks up and returns the SKU List and DYMAX BAM</description>
		<servlet-class>com.vzw.dmd.DMDSKUXml</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DmdDeviceSummary</servlet-name>
		<display-name>DmdDeviceSummary</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceSummary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDFeatures</servlet-name>
		<display-name>DMDFeatures</display-name>
		<servlet-class>com.vzw.dmd.DMDFeatures</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDFeaturesLight4G</servlet-name>
		<display-name>DMDFeaturesLight4G</display-name>
		<servlet-class>com.vzw.dmd.DMDFeaturesLight4G</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMacIDInfo</servlet-name>
		<display-name>DMDMacIDInfo</display-name>
		<servlet-class>com.vzw.dmd.DMDMacIDInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceCompare</servlet-name>
		<display-name>DMDDeviceCompare</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceCompare</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceRecycleAPI</servlet-name>
		<display-name>DMDDeviceRecycleAPI</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceRecycleAPI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDBulkDeviceSimLookup</servlet-name>
		<display-name>DMDBulkDeviceSimLookup</display-name>
		<servlet-class>com.vzw.dmd.DMDBulkDeviceSimLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDOmniFeed</servlet-name>
		<display-name>DMDOmniFeed</display-name>
		<servlet-class>com.vzw.dmd.DMDOmniFeed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDConsolidatedAPI</servlet-name>
		<display-name>DMDConsolidatedAPI</display-name>
		<servlet-class>com.vzw.dmd.DMDConsolidatedAPI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMultiDeviceLookupAPI</servlet-name>
		<display-name>DMDMultiDeviceLookupAPI</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiDeviceLookupAPI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDLostStolen</servlet-name>
		<display-name>DMDLostStolen</display-name>
		<servlet-class>com.vzw.dmd.DMDLostStolen</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DMDSimOTA</servlet-name>
		<display-name>DMDSimOTA</display-name>
		<servlet-class>com.vzw.dmd.DMDSimOTA</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>DMDMultiDevice</servlet-name>
		<display-name>DMDMultiDevice</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiDevice</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>DMDDaccSaccCompatibility</servlet-name>
		<display-name>DMDDaccSaccCompatibility</display-name>
		<servlet-class>com.vzw.dmd.DMDDaccSaccCompatibility</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>DMDSaccDaccCompatibility</servlet-name>
		<display-name>DMDSaccDaccCompatibility</display-name>
		<servlet-class>com.vzw.dmd.DMDSaccDaccCompatibility</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>DMDNegativeCheck</servlet-name>
		<display-name>DMDNegativeCheck</display-name>
		<servlet-class>com.vzw.dmd.DMDNegativeCheck</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>DMDSIMCompatibility</servlet-name>
		<display-name>DMDSIMCompatibility</display-name>
		<servlet-class>com.vzw.dmd.DMDSIMCompatibility</servlet-class>
	</servlet>			
	<servlet>
		<servlet-name>DMDMultiDeviceValidation</servlet-name>
		<display-name>DMDMultiDeviceValidation</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiDeviceValidation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMultiDeviceSimValidation</servlet-name>
		<display-name>DMDMultiDeviceSimValidation</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiDeviceSimValidation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceSimPairLookup</servlet-name>
		<display-name>DMDDeviceSimPairLookup</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceSimPairLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DmdRssLookup</servlet-name>
		<display-name>DmdRssLookup</display-name>
		<servlet-class>com.vzw.dmd.DMDRssLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDSDMLock</servlet-name>
		<display-name>DMDSDMLock</display-name>
		<servlet-class>com.vzw.dmd.DMDSDMLock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMultiMakeModel</servlet-name>
		<display-name>DMDMultiMakeModel</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiMakeModel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDEuimidImeiAssociation</servlet-name>
		<display-name>DMDEuimidImeiAssociation</display-name>
		<servlet-class>com.vzw.dmd.DMDEuimidImeiAssociation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDLostStolenNonPayInfo</servlet-name>
		<display-name>DMDLostStolenNonPayInfo</display-name>
		<servlet-class>com.vzw.dmd.DMDLostStolenNonPayLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDModelSummary</servlet-name>
		<display-name>DMDModelSummary</display-name>
		<servlet-class>com.vzw.dmd.DMDModelSummary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDBioDeviceLoad</servlet-name>
		<display-name>DMDBioDeviceLoad</display-name>
		<servlet-class>com.vzw.dmd.DMDBioDeviceLoad</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDBioDeviceLookup</servlet-name>
		<display-name>DMDBioDeviceLookup</display-name>
		<servlet-class>com.vzw.dmd.DMDBioDeviceLookup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDMultiDeviceFirmwareLookup</servlet-name>
		<display-name>DMDMultiDeviceFirmwareLookup</display-name>
		<servlet-class>com.vzw.dmd.DMDMultiDeviceFirmwareLookup</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>DMDEpsEligibilityStatus</servlet-name>
		<display-name>DMDEpsEligibilityStatus</display-name>
		<servlet-class>com.vzw.dmd.DMDEpsEligibilityStatus</servlet-class>
	</servlet>
	<!-- BQVT-81 Changes Start -->
	<servlet>
		<servlet-name>DMDDeviceMacIdService</servlet-name>
		<display-name>DMDDeviceMacIdService</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceMacIdService</servlet-class>
	</servlet>
	<!-- BQVT-81 Changes End -->
	<servlet>
		<servlet-name>DMDEpsAddReplenishTrans</servlet-name>
		<display-name>DMDEpsAddReplenishTrans</display-name>
		<servlet-class>com.vzw.dmd.DMDEpsAddReplenishTrans</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDEUICCPairAddUpdate</servlet-name>
		<display-name>DMDEUICCPairAddUpdate</display-name>
		<servlet-class>com.vzw.dmd.DMDEUICCPairAddUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDDeviceNetworkLockService</servlet-name>
		<display-name>DMDDeviceNetworkLockService</display-name>
		<servlet-class>com.vzw.dmd.DMDDeviceNetworkLockService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDByodService</servlet-name>
		<display-name>DMDByodService</display-name>
		<servlet-class>com.vzw.dmd.DMDByodService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDSkuListService</servlet-name>
		<display-name>DMDSkuListService</display-name>
		<servlet-class>com.vzw.dmd.DMDSkuListService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDInnoPathService</servlet-name>
		<display-name>DMDInnoPathService</display-name>
		<servlet-class>com.vzw.dmd.DMDInnoPathService</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>DMDSimOTAService</servlet-name>
		<display-name>DMDSimOTAService</display-name>
		<servlet-class>com.vzw.dmd.DMDSimOTAService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDOtaService</servlet-name>
		<display-name>DMDOtaService</display-name>
		<servlet-class>com.vzw.dmd.DMDOtaService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMDLostStolenNonPayService</servlet-name>
		<display-name>DMDLostStolenNonPayService</display-name>
		<servlet-class>com.vzw.dmd.DMDLostStolenNonPayService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestRunNew</servlet-name>
		<display-name>TestRunNew</display-name>
		<description></description>
		<servlet-class>com.vzw.dmd.TestRunNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DMDModelSummary</servlet-name>
		<url-pattern>/DMDModelSummary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDLostStolenNonPayInfo</servlet-name>
		<url-pattern>/DMDLostStolenNonPayInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMultiMakeModel</servlet-name>
		<url-pattern>/DMDMultiMakeModel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDEuimidImeiAssociation</servlet-name>
		<url-pattern>/DMDEuimidImeiAssociation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmdRssLookup</servlet-name>
		<url-pattern>/DmdRssLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDSDMLock</servlet-name>
		<url-pattern>/DMDSDMLock</url-pattern>
	</servlet-mapping>			
	<servlet-mapping>
		<servlet-name>DMDMultiDeviceValidation</servlet-name>
		<url-pattern>/DMDMultiDeviceValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMultiDeviceSimValidation</servlet-name>
		<url-pattern>/DMDMultiDeviceSimValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceSimPairLookup</servlet-name>
		<url-pattern>/DMDDeviceSimPairLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDaccSaccCompatibility</servlet-name>
		<url-pattern>/DMDDaccSaccCompatibility</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DMDSaccDaccCompatibility</servlet-name>
		<url-pattern>/DMDSaccDaccCompatibility</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DMDNegativeCheck</servlet-name>
		<url-pattern>/DMDNegativeCheck</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DMDSIMCompatibility</servlet-name>
		<url-pattern>/DMDSIMCompatibility</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DMDMultiDevice</servlet-name>
		<url-pattern>/DMDMultiDevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDFeatures</servlet-name>
		<url-pattern>/DMDFeatures</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDFeaturesLight4G</servlet-name>
		<url-pattern>/DMDFeaturesLight4G</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMacIDInfo</servlet-name>
		<url-pattern>/DMDMacIDInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceCompare</servlet-name>
		<url-pattern>/DMDDeviceCompare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceRecycleAPI</servlet-name>
		<url-pattern>/DMDDeviceRecycleAPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDBulkDeviceSimLookup</servlet-name>
		<url-pattern>/DMDBulkDeviceSimLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDOmniFeed</servlet-name>
		<url-pattern>/DMDOmniFeed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDConsolidatedAPI</servlet-name>
		<url-pattern>/DMDConsolidatedAPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMultiDeviceLookupAPI</servlet-name>
		<url-pattern>/DMDMultiDeviceLookupAPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDGui</servlet-name>
		<url-pattern>/DMDGui</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogLoader</servlet-name>
		<url-pattern>/LogLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PropLoader</servlet-name>
		<url-pattern>/PropLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDXml</servlet-name>
		<url-pattern>/DMDXml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMqTest</servlet-name>
		<url-pattern>/DMDMqTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDFdbk</servlet-name>
		<url-pattern>/DMDFdbk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDXmlPost</servlet-name>
		<url-pattern>/DMDXmlPost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmdScmplus</servlet-name>
		<url-pattern>/DMDScmplus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmdMultiXml</servlet-name>
		<url-pattern>/DMDMultiXml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeepAliveServlet</servlet-name>
		<url-pattern>/healthcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDPIDLookUP</servlet-name>
		<url-pattern>/DMDPIDLookUP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmdRM</servlet-name>
		<url-pattern>/DMDRM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDEquipmentIDXml</servlet-name>
		<url-pattern>/DMDEquipmentIDXml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDHUBXml</servlet-name>
		<url-pattern>/DMDHUBXml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMACIDLookup</servlet-name>
		<url-pattern>/DMDMACIDLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceType</servlet-name>
		<url-pattern>/DMDDeviceType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceTypeSDM</servlet-name>
		<url-pattern>/DMDDeviceTypeSDM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceProdID</servlet-name>
		<url-pattern>/DMDDeviceProdID</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDSKUXml</servlet-name>
		<url-pattern>/DMDSKUXml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmdDeviceSummary</servlet-name>
		<url-pattern>/DMDDeviceSummary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDLostStolen</servlet-name>
		<url-pattern>/DMDLostStolen</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DMDSimOTA</servlet-name>
		<url-pattern>/DMDSimOTA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDBioDeviceLoad</servlet-name>
		<url-pattern>/DMDBioDeviceLoad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDBioDeviceLookup</servlet-name>
		<url-pattern>/DMDBioDeviceLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDMultiDeviceFirmwareLookup</servlet-name>
		<url-pattern>/DMDMultiDeviceFirmwareLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDEpsEligibilityStatus</servlet-name>
		<url-pattern>/DMDEpsEligibilityStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDEpsAddReplenishTrans</servlet-name>
		<url-pattern>/DMDEpsAddReplenishTrans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDEUICCPairAddUpdate</servlet-name>
		<url-pattern>/DMDEUICCPairAddUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceMacIdService</servlet-name>
		<url-pattern>/DMDDeviceMacIdService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDDeviceNetworkLockService</servlet-name>
		<url-pattern>/DMDDeviceNetworkLockService</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
		<servlet-name>DMDFeatures</servlet-name>
		<url-pattern>/DMDFeatures/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDByodService</servlet-name>
		<url-pattern>/DMDByodService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDSkuListService</servlet-name>
		<url-pattern>/DMDSkuListService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDInnoPathService</servlet-name>
		<url-pattern>/DMDInnoPathService</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DMDSimOTAService</servlet-name>
		<url-pattern>/DMDSimOTAService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDOtaService</servlet-name>
		<url-pattern>/DMDOtaService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMDLostStolenNonPayService</servlet-name>
		<url-pattern>/DMDLostStolenNonPayService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestRunNew</servlet-name>
		<url-pattern>/TestRunNew</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DMDInnoPathService</servlet-name>
		<url-pattern>/DMDInnoPathService/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref id="ResourceRef_1107451291103">
		<res-ref-name>jdbc/DMDDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1108496129756">
		<res-ref-name>jms/DmdQcf</res-ref-name>
		<res-type>javax.jms.QueueConnectionFactory</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1108496264524">
		<res-ref-name>jms/DmdQueue1</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1108496264525">
		<res-ref-name>jms/DmdRQueue1</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1109268114395">
		<res-ref-name>jms/DmdRQueue2</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1109268114396">
		<res-ref-name>jms/DmdQueue2</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1109268114405">
		<res-ref-name>jms/DmdQueue3</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1109268114406">
		<res-ref-name>jms/DmdQueue4</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1184097887776">
		<description></description>
		<res-ref-name>jdbc/DMDDSR</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_DMDDSR1">
		<description></description>
		<res-ref-name>jdbc/DMDDSR1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<ejb-local-ref id="EJBLocalRef_1109873044530">
		<ejb-ref-name>ejb/EsnMeidLock</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.vzw.dmd.ejb.EsnMeidLockLocalHome</local-home>
		<local>com.vzw.dmd.ejb.EsnMeidLockLocal</local>
		<ejb-link>DMDEJB.jar#EsnMeidLock</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1109873044540">
		<ejb-ref-name>ejb/EsnMeidLookup</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.vzw.dmd.ejb.EsnMeidLookupLocalHome</local-home>
		<local>com.vzw.dmd.ejb.EsnMeidLookupLocal</local>
		<ejb-link>DMDEJB.jar#EsnMeidLookup</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1109873044541">
		<ejb-ref-name>ejb/FullXmlLookup</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.vzw.dmd.ejb.FullXmlLookupLocalHome</local-home>
		<local>com.vzw.dmd.ejb.FullXmlLookupLocal</local>
		<ejb-link>DMDEJB.jar#FullXmlLookup</ejb-link>
	</ejb-local-ref>
</web-app>
